[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
sqlalchemy = '*'
typer = '*'
colorama = '*'
shellingham = '*'

[requires]
python_version = "3.8"
